@model IEnumerable<Futebol.Models.EstatisticasPartida>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Jogador.NomeDoJogador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Partida.NomeDaPartida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time.NomeDoTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SequenciaGol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Jogador.NomeDoJogador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Partida.NomeDaPartida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time.NomeDoTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SequenciaGol)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
