@model IEnumerable<Futebol.Models.Time>

@{
    ViewBag.Title = "Times";
}

<h2 class="mb-4">Listagem de Times</h2>

<p>
    @Html.ActionLink("Criar Novo Time", "Create", null, new { @class = "btn btn-success mb-4" })
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm text-center">
                <div class="card-body">
                    <h5 class="card-title">@item.NomeDoTime</h5>
                    <div class="mt-3">
                        @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "btn btn-primary btn-sm mx-1" })
                        @Html.ActionLink("Detalhes", "Details", new { id = item.ID }, new { @class = "btn btn-info btn-sm mx-1" })
                        @Html.ActionLink("Excluir", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-sm mx-1" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>