@model Futebol.Models.Partidas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Partidas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeCasa.NomeDoTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeCasa.NomeDoTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeVisitante.NomeDoTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeVisitante.NomeDoTime)
        </dd>

        <!-- Novo campo para o local da partida -->
        <dt>
            @Html.DisplayNameFor(model => model.Estadio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estadio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
