@model IEnumerable<Futebol.Models.Partidas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.NomeDaPartida)</th>
            <th>@Html.DisplayNameFor(model => model.TimeCasa.NomeDoTime)</th>
            <th>@Html.DisplayNameFor(model => model.TimeVisitante.NomeDoTime)</th>
            <th>@Html.DisplayNameFor(model => model.Estadio)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var partida in Model)
        {
            <tr>
                <td>@partida.NomeDaPartida</td>
                <td>@partida.TimeCasa.NomeDoTime</td>
                <td>@partida.TimeVisitante.NomeDoTime</td>
                <td>@partida.Estadio</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = partida.ID }, new { @class = "btn btn-primary btn-sm" }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = partida.ID }, new { @class = "btn btn-info btn-sm" }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = partida.ID }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
