@model Futebol.Models.Jogador

@{
    ViewBag.Title = "Detalhes do Jogador";
}

<h2>Detalhes do Jogador</h2>

<div>
    <h4>Informações do Jogador</h4>
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.NomeDoJogador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDeNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDeNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Posicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CamisaNumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CamisaNumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeDominante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeDominante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time.NomeDoTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time.NomeDoTime)
        </dd>

    </dl>

    </dl>
</div>

<!-- Botões de navegação -->
<div class="mt-4">
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Voltar para a Lista", "Index", null, new { @class = "btn btn-secondary" })
</div>