@model Futebol.Models.Jogador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Jogador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeDoJogador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDoJogador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDeNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDeNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Posicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CamisaNumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CamisaNumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeDominante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeDominante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time.NomeDoTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time.NomeDoTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
