@model IEnumerable<Futebol.Models.Jogador>
@{ ViewBag.Title = "Index"; }
<h2>Listagem de Jogadores</h2>
<!-- Formulário de busca -->
@using (Html.BeginForm("Index", "Jogador", FormMethod.Get))
{
    <div class="form-group">
        <label for="searchString">Buscar jogador por nome:</label>
        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Digite o nome do jogador" })
        <input type="submit" value="Pesquisar" class="btn btn-primary mt-2" />
    </div>}
<p>
    @Html.ActionLink("Criar Novo Jogador", "Create")
</p>
<!-- Tabela de jogadores -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Time.NomeDoTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().NomeDoJogador)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>@foreach (var item in Model)
    {
        <tr>
            <td>
            @Html.DisplayFor(modelItem => item.Time.NomeDoTime)
            </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeDoJogador)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ID })
            @Html.ActionLink("Detalhes", "Details", new { id = item.ID })
            @Html.ActionLink("Excluir", "Delete", new { id = item.ID })
        </td>
        </tr>
    }
    </tbody>
</table>
